#social {
    width: 100%;
    display: flex;
    justify-content: center;
}

#box-social {
    border: 1px solid rgba(228, 228, 228, 0.316);
    background-color: #23293582;
    width: fit-content;
    width: 20%;
    display: flex;
    justify-content: center;
    border-radius: 40px;
    padding: 5px;
    margin-bottom: 50px;
    justify-content: space-evenly;
}


#box-social a {
    border: 1px solid rgba(228, 228, 228, 0.316);
    border-radius: 60px;
    background-color: #090E16;
    cursor: pointer;
    padding: 8px;
    transition: 150ms ease-in-out;
}

#box-social a:hover {
    padding-inline: 20px;
}

.icon {
    color: white;
    font-size: 25px;
}

#hero {
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    color: white;
    height: 70vh;
}

#title {
    max-width: 250px;
    width: 250px;
}

#title h1 {
    font-size: 40px;
    font-weight: 600;
}
#title span {
    font-size: 20px;
}

#avatar {
    width: 20%;
    background-color: #32235E;
    border-radius: 1000px;
}

#avatar img {
    width: 100%;
    border-radius: 1000px;
}

#info {
    font-size: 80px;
    display: flex;
    flex-direction: column;
    max-width: 250px;
    width: 250px;
}

#info h2 {
    display: flex;
    align-items: center;
}

#info button {
    font-size:20px;
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.362);
    background-color: transparent;
    color: white;
    padding: 10px;
    transition: 200ms ease-in-out;
    margin-top: 10px;
}

#info button:hover {
    background-color: rgba(240, 255, 255, 0.172);
}