#about {
    color: white;
    padding: 50px;
    padding-inline: 200px;
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

#about img {
    width: 350px;
    height: 350px;
    border-radius: 40px;
}

