header {
    color: white;
    background-color: #181328;
}

ul {
    margin: 0;
    list-style: none;
    padding: 10px;
    display: flex;
    gap: 50px;
    justify-content: center;
    padding: 25px;
}

ul li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: 200ms linear;
}

ul li a:hover {
    color: #FFB44C;
    border-color: #FFB44C;
}