body {
  background-color: #090E16;
  font-family: 'Poppins', sans-serif;
}

.ball {
  width: 12px;
  height: 12px;
  background-color: #6845d2be;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transition: transform 180ms ease-out;
  z-index: 1000;
}

body::-webkit-scrollbar {
  width: 15px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #090E16;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #32235E;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 2px solid #090E16;  /* creates padding around scroll thumb */
}


#skills {
  padding: 40px;
  color: white;
  text-align: center;
}

#skills ul li {
  text-align: center;
  
}